    body {
        width: 100%;
        height: 100%;
        --sz: 4px; /*** size ***/
        --sp: 5s; /*** speed ***/
        --b1: #211e1e; /*** color ***/
        --b2: #1c1b18; /*** color ***/
        --b3: #0c0b0a; /*** color ***/
        --b4: #0c0b0ae0; /*** color ***/
        --c1: #ffffff; /*** color ***/
        --ts: 50% / calc(var(--sz) * 17.5) calc(var(--sz) * 29.5);
        background:
		/* black shadows */ radial-gradient(
              circle at 50% 50%,
              var(--b4) calc(var(--sz) * 1),
              #fff0 calc(var(--sz) * 8)
            )
            var(--ts),
          radial-gradient(
              circle at 0% 0%,
              var(--b4) calc(var(--sz) * 1),
              #fff0 calc(var(--sz) * 8)
            )
            var(--ts),
          radial-gradient(
              circle at 0% 100%,
              var(--b4) calc(var(--sz) * 1),
              #fff0 calc(var(--sz) * 8)
            )
            var(--ts),
          radial-gradient(
              circle at 100% 0%,
              var(--b4) calc(var(--sz) * 1),
              #fff0 calc(var(--sz) * 8)
            )
            var(--ts),
          radial-gradient(
              circle at 100% 100%,
              var(--b4) calc(var(--sz) * 1),
              #fff0 calc(var(--sz) * 8)
            )
            var(--ts),
          /* border bottom */
            conic-gradient(
              from 90deg at 97.5% 67%,
              var(--c1) 0 87.5deg,
              #fff0 88deg 100%
            )
            var(--ts),
          /*repeated*/
            conic-gradient(
              from 90deg at 97.5% 67%,
              var(--c1) 0 87.5deg,
              #fff0 88deg 100%
            )
            var(--ts),
          conic-gradient(
              from 182.5deg at 2.5% 67%,
              #fff0 0 0deg,
              var(--c1) 0.5deg 90deg,
              #fff0 0 100%
            )
            var(--ts),
          /*repeated*/
            conic-gradient(
              from 182.5deg at 2.5% 67%,
              #fff0 0 0deg,
              var(--c1) 0.5deg 90deg,
              #fff0 0 100%
            )
            var(--ts),
          /* border top */
            conic-gradient(
              from 270deg at 2.5% 33%,
              var(--c1) 0 87.5deg,
              #fff0 88deg 100%
            )
            var(--ts),
          /*repeated*/
            conic-gradient(
              from 270deg at 2.5% 33%,
              var(--c1) 0 87.5deg,
              #fff0 88deg 100%
            )
            var(--ts),
          conic-gradient(
              from 2.5deg at 97.5% 33%,
              #fff0 0 0deg,
              var(--c1) 0.5deg 90deg,
              #fff0 0 100%
            )
            var(--ts),
          /*repeated*/
            conic-gradient(
              from 2.5deg at 97.5% 33%,
              #fff0 0 0deg,
              var(--c1) 0.5deg 90deg,
              #fff0 0 100%
            )
            var(--ts),
          /* bottom */
            conic-gradient(
              from 116.5deg at 50% 85.5%,
              var(--b1) 0 127deg,
              #fff0 0 100%
            )
            var(--ts),
          /*repeated*/
            conic-gradient(
              from 116.5deg at 50% 85.5%,
              var(--b1) 0 127deg,
              #fff0 0 100%
            )
            var(--ts),
          /*repeated*/
            conic-gradient(
              from 116.5deg at 50% 85.5%,
              var(--b1) 0 127deg,
              #fff0 0 100%
            )
            var(--ts),
          conic-gradient(
              from 120deg at 50% 83%,
              var(--c1) 0 120deg,
              #fff0 0 100%
            )
            var(--ts),
          /* top */
            conic-gradient(
              from -63.5deg at 50% 14.5%,
              var(--b1) 0 127deg,
              #fff0 0 100%
            )
            var(--ts),
          /*repeated*/
            conic-gradient(
              from -63.5deg at 50% 14.5%,
              var(--b1) 0 127deg,
              #fff0 0 100%
            )
            var(--ts),
          /*repeated*/
            conic-gradient(
              from -63.5deg at 50% 14.5%,
              var(--b1) 0 127deg,
              #fff0 0 100%
            )
            var(--ts),
          conic-gradient(
              from -60deg at 50% 17%,
              var(--c1) 0 120deg,
              #fff0 0 100%
            )
            var(--ts),
          /* central gradient */
            conic-gradient(
              from 0deg at 50% 50%,
              #fff0 0 2deg,
              var(--b2) 2.5deg 57.5deg,
              #fff0 58deg 62.5deg,
              var(--b1) 63deg 117.5deg,
              #fff0 118deg 122.5deg,
              var(--b3) 123deg 177.5deg,
              #fff0 178deg 182deg,
              var(--b2) 182.5deg 237.5deg,
              #fff0 0 242.5deg,
              var(--b1) 243deg 297.5deg,
              #fff0 298deg 302.5deg,
              var(--b3) 303deg 357.5deg,
              #fff0 358deg 360deg
            )
            var(--ts),
          /* bg */ var(--c1);
        /* animation: colors var(--sp) linear 0s infinite; */
      }

      @keyframes colors {
        100% {
          filter: hue-rotate(360deg);
        }
      }

      body{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100vw;
        overflow: hidden;
      }
      .contt {
        height: 470px;
        width: 340px;
        border: 2px solid white;
        box-shadow: 0px 0px 12px  #ffffff8c;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #441b35;
        border-radius: 12px;
        font-family: Arial, Helvetica, sans-serif;
      }


p{
    font-size: 10px;
    letter-spacing: 2px;
    position: relative;
    left: 5rem;
    top: 0.7rem;
}

span{
    letter-spacing: 1px;
}

a{
    text-decoration: none;
    color: #517fc0d2;
}

h1{
    font-size: 1.4rem;
}

.techno{
    height: 45px;
    position: relative;
    top: 0.7rem;
    opacity: 0.8;
}